<div class="text-center mb-5">
  <h2 class="fw-bold">My Projects</h2>
</div>

<a href="add-project" class="btn btn-primary btn-lg active mb-5" role="button" aria-pressed="true">Tambah project</a>

<div class="row g-4">
  {{#if projects}}
    {{#each projects}}
      <div class="col-md-4">
        <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden">
          <img src="{{this.image}}" class="card-img-top" alt="{{this.nama}}" style="height: 250px; object-fit: cover;" />
          <div class="card-body">
            <h5 class="card-title">{{this.nama}}</h5>
            <p class="card-text">{{this.deskripsi}}</p>

            <a href="/project/{{this.id}}" class="btn btn-sm btn-primary">Detail</a>
            <a href="{{this.link}}" target="_blank" class="btn btn-sm btn-info">Kunjungi</a>
            <a href="/project-edit/{{this.id}}" class="btn btn-sm btn-warning">Edit</a>
            <a
              href="/project-delete/{{this.id}}"
              class="btn btn-sm btn-danger"
              onclick="return confirm('Apakah kamu yakin ingin menghapus project ini?');"
            >Delete</a>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>ga ada project nih</p>
  {{/if}}
</div>